.about {
    h3 {
        margin-top: 7%;
        color: $colorh1;
        font-size: 50px;
        font-weight: 400;
        font-family: 'Lucida Sans', sans-serif;
        text-align: center;
    }
    .about-me {
        height: 80vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_img {
            img {
                margin-bottom: 13%;
                padding-left: 1%;
                border-radius: 250px;
            }
        }
        &_description {
            padding-right: 6%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                width: 70%;
                // margin-top: -5%;
                margin-bottom: 13%;
                font-size: 25px;
                font-weight: 300;
                color: $colordescription;
                font-family: 'Lucida Sans', sans-serif;
            }
        }
    }
}