.lien {
    display: flex;
    justify-content: center;
    @include media(tablet) {
        width: 20vw;
    }
    &__logo {
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        img {
            width: 50%;
        }
    }
}